/*62.5% font size*/
html {
  font-size: 62.5%; }

/*Wrappers*/
.wrapper {
  width: 75%;
  margin: 0 auto; }

.wrapper2 {
  width: 100%;
  margin: 0 auto; }

/*Grey Background*/
.greyBackground {
  background: #f7f7f7; }

/*100% image width*/
img {
  max-width: 100%; }

/*Font Styles*/
/*Font Colours*/
/*Hover Effects*/
.nav li a, .navRight ul li a {
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s; }

.nav li a:hover, .navRight ul li a:hover {
  color: white; }

.sectionGreen1Subscribe h3, .greenSearch {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.sectionGreen1Subscribe h3:hover, .greenSearch:hover {
  color: #59dac3;
  background: white;
  cursor: pointer; }

.footer2 ul li a:hover {
  color: #53c9eb; }

.footer3 ul li a:hover {
  color: #aad020; }

.galleryColumn:hover {
  background: rgba(237, 248, 246, 0.97); }

/*Turqoise Text Links*/
.turqoise a {
  text-decoration: none;
  color: #55ceb8;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase; }

.turqoise {
  padding-bottom: 50px; }

.fa-angle-right {
  padding-left: 5px; }

/*Link Tags*/
.middleFooterColumn ul li a {
  text-decoration: none;
  color: #4c4c4c; }

/*Mixins*/
/*Latest Courses Grid Mixin*/
/* Aside Text*/
/*Footer Text*/
.greyBackground, aside.wrapper2 {
  padding: 80px 0 80px 0; }

.searchForCoursesContainer, .sectionGreen1 {
  padding: 50px 0px 50px 0px; }
